/*
  Theme: Material Palenight
*/

.codewin-head {
    background: #292D3E !important;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}

code.hljs {
    padding: 3px 5px;
}

pre, code, .code-highlighter, .hljs {
    color: #959dcb !important;
    background: #292D3E !important;
}

.hljs ::selection,.hljs::selection {
    background-color: #32374d;
    color: #959dcb !important;
}

.hljs-ln-line.hljs-ln-n {
    color: #515772 !important;
}

.hljs-comment {
    color: #676e95 !important;
}

.hljs-tag {
    color: #8796b0 !important;
}

.hljs-operator,.hljs-punctuation,.hljs-subst {
    color: #959dcb !important;
}

.hljs-operator {
    opacity: .7;
}

.hljs-bullet,.hljs-deletion,.hljs-name,.hljs-selector-tag,.hljs-template-variable,.hljs-variable {
    color: #f07178 !important;
}

.hljs-attr,.hljs-link,.hljs-literal,.hljs-number,.hljs-symbol,.hljs-variable.constant_ {
    color: #f78c6c !important;
}

.hljs-class .hljs-title,.hljs-title,.hljs-title.class_ {
    color: #ffcb6b !important;
}

.hljs-strong {
    font-weight: 700;
    color: #ffcb6b !important;
}

.hljs-addition,.hljs-code,.hljs-string,.hljs-title.class_.inherited__ {
    color: #c3e88d !important;
}

.hljs-built_in,.hljs-doctag,.hljs-keyword.hljs-atrule,.hljs-quote,.hljs-regexp {
    color: #89ddff !important;
}

.hljs-attribute,.hljs-function .hljs-title,.hljs-section,.hljs-title.function_,.ruby .hljs-property {
    color: #82aaff !important;
}

.diff .hljs-meta,.hljs-keyword,.hljs-template-tag,.hljs-type {
    color: #c792ea !important;
}

.hljs-emphasis {
    color: #c792ea !important;
    font-style: italic;
}

/* .hljs-meta,.hljs-meta .hljs-keyword,.hljs-meta .hljs-string {
    color: #ff5370 !important;
} */

.hljs-meta .hljs-keyword,.hljs-meta-keyword {
    font-weight: 700;
}

.hljs-attr {
    color: #c792ea !important;
}

/* ADDITIONAL CUSTOMIZE SYNTAX */
.ext {
    font-weight: bold !important;
}

.ext-name, .ext-filename {
    color: #ffcb6b !important;
}

.ext-cmd {
    color: #89ddff !important;
}